
body{
   text-align: center;
}
#container{
    align-items: center;
}
#change{
    border-color: black;
    border-style: solid;
    align-items: center;
    text-align: center;
    width: 30%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
  margin: 1rem auto;
    
}
table, th, td{
    border: 2px solid black;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
    margin: 1rem auto;
}
h1{
    justify-items: center;
    background-color: aqua;
}
#billamount, #cashgiven{
    padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
#checkbutton{
border: none;
color: black;
padding: 0.7rem 0.5rem;
border-radius: 0.5rem;
font-size: large;
cursor: pointer;
background-color: aqua;
margin: auto;
}